/*GLOBAL*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #232329;
    padding-top: 80px;
}

main{
    margin: 40px 20%;
}

nav {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #2d2d34;
    height: 80px;
    text-align: center;
}

nav hr {
    position: fixed;
    width: 100%;
    background-color: #2d2d34;
}

nav a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
}

.allLinks:hover {
    color: lightgray;
}

.allLinks {
    text-decoration: none;
    color: lightgreen;
}

.sous{
    display: none;
}

nav > ul li:hover .sous{
    display: block;
    position: absolute;
    z-index: 1;
}

.sous li {
    float: none;
    text-align: left;
}

.sous a{
    padding: 10px;
    color: white;
    border-bottom: none;
    background-color: darkgreen;
    width: 200px;
}

.sous a:hover{
    border-bottom: none;
    background-color: rgb(111, 186, 111);
}

nav ul {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

.MenuItem {
    padding: 0px 20px;
}
li{
    list-style-type: none;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 32px;
    margin: 20px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

article {
    margin: 40px 0px;
}

.bigLinks:hover {
    color: lightgray;
}

.bigLinks {
    text-decoration: none;
    color: lightgreen;
    font-size: 24px;
}